<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Help Desc App / Admin</title>
    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/bootstrap-theme.min.css" rel="stylesheet">
</head>
<body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Help Desk / Admin</a>
            </div>
        </div>
    </nav>

    <div style="margin-top: 60px" class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Conversations</h1>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Status</th>
                            <th>Client ID</th>
                            <th>Last Name</th>
                            <th>Last Message</th>
                            <th>Messages Count</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="conversationsList">
                        {% for conversation in conversations %}
                            <tr data-client-id="{{ conversation['client_id'] }}"
                                class="conversation-item {% if conversation['is_online'] %}success{% else %}danger{% end %}">
                                <td>
                                    {% if conversation['is_online'] %}
                                        <span class="label label-success">Online</span>
                                    {% else %}
                                        <span class="label label-danger">Offline</span>
                                    {% end %}
                                </td>
                                <td>{{ conversation['client_id'] }}</td>
                                <td>{{ conversation['last_name'] }}</td>
                                <td>{{ conversation['last_message'] }}</td>
                                <td>
                                    <span class="label label-primary">{{ conversation['messages_count'] }}</span>
                                </td>
                                <td>
                                    {% if conversation['is_online'] %}
                                        <a data-loading-text="Loading..."
                                           href="#" class="btn btn-success btn-xs"
                                           data-target="#conversationModal">Join to Chat</a>
                                    {% else %}
                                        <a data-loading-text="Loading..."
                                           href="#" class="btn btn-warning btn-xs"
                                           data-target="#conversationModal">Leave Message</a>
                                    {% end %}
                                </td>
                            </tr>
                        {% end %}
                    </tbody>
                </table>
            </div>
        </div>
      <hr>

      <footer>
        <p>&copy; Help Desk 2014</p>
      </footer>
    </div>

    <div id="conversationModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Conversation</h4>
                </div>
                <div id="messagesOutput" class="modal-body"></div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-9">
                            <textarea placeholder="Type your message here..." id="messageInput" class="form-control"></textarea>
                        </div>
                        <div class="col-md-3">
                            <button type="button" class="btn btn-primary">Sent Message</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script id="conversationItemTemplate" type="text/html">
        <tr data-client-id="<%= client_id %>" class="conversation-item <% if(is_online){ %>success<% } else { %>danger<% } %>">
            <td>
                <% if(is_online){ %>
                    <span class="label label-success">Online</span>
                <% } else { %>
                    <span class="label label-danger">Offline</span>
                <% } %>
            </td>
            <td><%= client_id %></td>
            <td><%= last_name %></td>
            <td><%= last_message %></td>
            <td>
                <span class="label label-primary"><%= messages_count %></span>
            </td>
            <td>
                <% if(is_online) { %>
                    <a data-loading-text="Loading..."
                       href="#" class="btn btn-success btn-xs"
                       data-target="#conversationModal">Join to Chat</a>
                <% } else { %>
                    <a data-loading-text="Loading..."
                       href="#" class="btn btn-warning btn-xs"
                       data-target="#conversationModal">Leave Message</a>
                <% } %>
            </td>
        </tr>
    </script>

    <script id="messageItemTemplate" type="text/html">
        <p>[<%= created_at %>] <strong><%= user_name %></strong>: <%= message %></p>
    </script>

    <script type="text/javascript" src="/static/js/libs/jquery-2.1.3.min.js"></script>
    <script type="text/javascript" src="/static/js/libs/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/js/libs/underscore-min.js"></script>
    <script type="text/javascript" src="/static/js/app/admin.js"></script>
    <script type="text/javascript">
        appConfig = {
            wsUrl: "{{ ws_url }}"
        };
    </script>
</body>
</html>