<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Help Desk / Client</title>
    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/bootstrap-theme.min.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Help Desk / Client</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <form class="navbar-form navbar-right">
                    <div class="form-group">
                        <input type="text" class="form-control" id="userNameInput"
                               placeholder="User Name" value="{{ user_name }}">
                    </div>
                </form>
            </div>
            <!--/.navbar-collapse -->
        </div>
    </nav>

    <div style="margin-top: 60px" class="container">
        <div class="row">
            <div id="isAdminOnlineAlerts" class="col-md-12">
                <div style="display: none" class="alert alert-success" role="alert">
                    Admin <strong>online</strong>.
                </div>
                <div style="display: none" class="alert alert-danger" role="alert">
                    Admin <strong>offline</strong>.
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div style="overflow: auto; max-height: 300px; min-height: 150px"
                     class="well well-lg" id="messagesOutput">
                    {% for item in messages %}
                        <p>[{{ item['created_at'].strftime('%d.%m.%Y, %H:%M:%S') }}]
                            <strong>{{ item['user_name'] or 'Anonimous' }}</strong>: {{ item['message'] }}</p>
                    {% end %}
                </div>
            </div>
        </div>
        <div class="row">
            <form id="sendMessagesForm" method="post">
                <div class="col-md-10">
                    <label class="sr-only" for="messageInput">Message</label>
                    <textarea class="form-control" id="messageInput" placeholder="Type your message here..."></textarea>
                </div>
                <div class="col-md-2">
                    <button type="submit" class="btn btn-primary btn-lg">Send Message</button>
                </div>
            </form>
        </div>
      <hr>

      <footer>
        <p>&copy; Help Desk 2014</p>
      </footer>
    </div> <!-- /container -->

    <script type="text/javascript" src="/static/js/libs/jquery-2.1.3.min.js"></script>
    <script type="text/javascript" src="/static/js/libs/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/js/app/client.js"></script>
    <script type="text/javascript">
        appConfig = {
            wsUrl: "{{ ws_url }}",
            isAdminOnline: {{ str(is_admin_online).lower() }}
        };
    </script>
</body>
</html>